/* --------------------------------------------------------
*        __ __  __
*      /  /   /   /     __/__/__
*      \ /   /   /  __   /  /  __  (/__
*       /   /   / /  /  /  /  /__) /  /
*      /   /   / (__/__/_ /__/____/  /_/
*              \
*                SOLUTIONS
*
*	Blockquote styling, larger than standard text, with a big decorative quotemark above
*
* 	Dependancies:
* 	- base.typography
* 	- base.color
 ---------------------------------------------------------- */

$blockquote-font-weight: 				$mk-type-weight-primary;
$blockquote-max-width: 					none;
$blockquote-opacity: 					.2;


$blockquote-decoration-size: 			$mk-base-spacing-unit--large + $mk-base-spacing-unit--small;
$blockquote-decoration-size--width: 	$blockquote-decoration-size + $mk-base-spacing-unit;
$blockquote-decoration-margin-btm: 		( $blockquote-decoration-size / 2 );




.blockquote-b {

	@extend .u-text--large;
	font-weight: $blockquote-font-weight;
	margin: calc-rem( $mk-base-spacing-unit )  auto;
	max-width: $blockquote-max-width;
	padding-top: calc-rem( $blockquote-decoration-margin-btm );
	position: relative;


	p {

		position: relative;
		text-indent: 0;
		z-index: 2;

	}


	&:before {

		background-image: url( '../img/icon-blockquote-quote.png' );
		background-position: top left;
		background-repeat: no-repeat;
		background-size: contain;
		content: "";
		display: block;
		height: calc-rem( $blockquote-decoration-size );
		left: -( calc-rem( $blockquote-decoration-size / 3 ) );
		opacity: $blockquote-opacity;
		position: absolute;
		top: 0;
		width: calc-rem( $blockquote-decoration-size--width );
		z-index: 0;

	}


	&--quote-marks {

		p:first-of-type:before {

			content: open-quote;

		}

		p:last-of-type:before {

			content: close-quote;

		}

	}

}
